.riscv-table, .fl-table {
  width: 100%;
  display: inline-table;
  table-layout: fixed;
  /* border-collapse: collapse; */
}
.riscv-table-node {
  text-align: center;
  padding: 0.2em;
  border: 0.04rem solid var(--md-default-fg-color);
}
.riscv-table-node-little, .fl-table-node {
  text-align: center;
  padding: 0.1em;
  border: 0.04rem solid var(--md-default-fg-color);
}
.riscv-table-numnode {
  font-size: .4rem;
}
.riscv-table-undernode {
  font-size: .6rem;
  text-align: center;
}
.riscv-table-numnodel {
  font-size: .4rem;
  text-align: left;
}
.riscv-table-numnoder {
  font-size: .4rem;
  text-align: right;
}